/* Error: Undefined variable.
 *    ,
 * 32 |   color: v.$dark-gray;
 *    |          ^^^^^^^^^^^^
 *    '
 *   assets\scss\base\_reset.scss 32:10  @forward
 *   assets\scss\base\_index.scss 6:1    @use
 *   assets\scss\main.scss 16:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 32 \2502    color: v.$dark-gray;\d\a    \2502           ^^^^^^^^^^^^\a    \2575 \a   assets\\scss\\base\\_reset.scss 32:10  @forward\a   assets\\scss\\base\\_index.scss 6:1    @use\a   assets\\scss\\main.scss 16:1          root stylesheet";
}
