// ==========================================================================
// PAGES INDEX
// Forward all pages files
// ==========================================================================

@forward 'home';
@forward 'hero';
@forward 'stats';
@forward 'terms-privacy';
@forward 'page-header';